a:focus {
    outline: none !important;
}

.linkedin_mailbox_container {
    background: rgba(255,255,255,0.9);
    height: calc(100vh - 80px);
    overflow: auto;
}

.linkedin_mailbox_container table.linkedin_threads_table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

td.linkedin_thread_profile_pic {
    width: 60px;
}

td.linkedin_thread_profile_pic img {
    width: 30px;
    border-radius: 50%;
    height: 30px;
}

.linkedin_mailbox_container table.linkedin_threads_table tr {
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
}

.linkedin_mailbox_container table.linkedin_threads_table tr:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}

/*span#linkedin_label {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .2px;
    color: rgba(255,255,255,1);
    text-shadow: 0 1px 2px rgba(0,0,0,.65);
    font-weight: 600;
}*/

.linkedin_mailbox_container table.linkedin_threads_table tr td {
    padding: 1px 10px;
    font-size: 14px;
    cursor: pointer;
}

span.linkedin_mailbox_back_btn {
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    background: rgba(255,255,255,0.2);
    width: 40px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
}

span.linkedin_mailbox_back_btn img {
    opacity: 0.4;
}

.linkedin_mailbox_header {
    padding: 5px;
    height: 50px
}

.linkedin_conversation_container {
    border-bottom: solid 1px #ddd;
}

.linkedin_conversation_container .linkedin_conversation_first {
    padding: 15px 30px 5px;
    font-weight: 500;
}

.linkedin_conversation_container .linkedin_conversation_first:after {
    content: "";
    display: block;
    clear: both;
}

.linkedin_conversation_container .linkedin_conversation_first .linkedin_conversation_datetime {
    font-weight: 400;
    font-size: .75rem;
    letter-spacing: .3px;
    color: #5f6368;
    float: right;
}

.linkedin_conversation_container .linkedin_conversation_first {
    padding: 15px 15px 0 15px;
}

.linkedin_conversation_container .linkedin_conversation_first .linkedin_conversation_profile_pic {
    width: 35px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.linkedin_conversation_container .linkedin_conversation_first .linkedin_conversation_profile_pic img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.linkedin_conversation_container .linkedin_conversation_first .linkedin_conversation_name {
    float: none;
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.linkedin_conversation_container .linkedin_conversation_first .linkedin_conversation_name a{
    text-decoration: none;
    color: #202124;
    cursor: pointer;
}
.linkedin_conversation_body pre {
    margin: 0;
    font-family: inherit;
    white-space: pre-line;
}

.linkedin_conversation_container .linkedin_conversation_second {
    padding: 0 15px 25px 58px;
    color: #555;
    font-size: 14px;
}

.linkedin_conversation_body {
    line-height: 1.6;
    font-size: 13px;
    word-break: break-all;
}

td.linkedin_thread_name {
    width: 200px;
    overflow: hidden;
}

td.linkedin_thread_subject div.thread-subject {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 600px;
}

table.linkedin_threads_table tr td {}

td.linkedin_thread_date {
    width: 100px;
    text-align: right;
    font-size: .75rem;
}

table.linkedin_threads_table tr.linkedin_thread_row td, table.sn_threads_table tr.sn_thread_row td {
    height: 40px;
}

.linkedin_msg_type_box {
    background: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
}

.linkedin-msg-type-box .inner-type-box textarea {border: none;width: 100%;padding: 15px;font-size: 14px;border: solid 1px #ddd;/* margin-top: -1px; *//* position: relative; */transition: all 0.4s ease-in-out;z-index: 0;display: block;outline: none;white-space: normal;flex: none;min-height: 80px;margin-bottom: 20px;}

.linkedin_mailbox, .linkedin_mailbox * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.inner-type-box {
    padding-bottom: 30px;
    position: relative;
    padding: 15px;
}

.linkedin-msg-type-box .inner-type-box textarea:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #147;
    z-index: 1;
    display: block;
    transition: all 0.4s ease-in-out;
}

.linkedin-msg-type-box .inner-type-box textarea:focus {
    border-top-color: #147;
}

.inner-type-box button.send-btn, .inner-type-box button.sn_send-btn {
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: solid 1px #1a73e8;
    float: none;
    background: #1a73e8;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 25px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    margin: 0px;
    float: right;
}

.inner-type-box:After {
    content: "";
    display: block;
    clear: both;
}

.linkedin_conversation_section, .sn_conversation_section {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: calc(100% - 152px);
    overflow: auto;
}

.linkedin_mailbox_container {
    position: relative;
}

.linkedin-msg-type-box {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #fff;
    padding-right: 15px;
}

ul.icon-list {
    list-style: none;
    margin: 0px;
    float: none;
    display: inline-block;
    vertical-align: middle;
    padding: 0px;
}

ul.icon-list .icons {
    opacity: 0.4;
}

.attach-icon, .sn_attach_icon {
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/attach_file_black_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

ul.icon-list li {
    margin-right: 5px;
    display: inline-block;
}

.icons.emoji-icon {
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/insert_emoticon_black_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.icons.gif-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/insert_photo_black_20dp.png');
}

.linkedin_conversation_seen {
    position: absolute;
    right: 5px;
    font-size: 0;
    bottom: 5px;
}

.linkedin_conversation_seen img {
    width: 15px;
    border-radius: 50%;
}

.linkedin_conversation_title_wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 9;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.linkedin_conversation_title {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 3px;
}

.linkedin_conversation_description {
    font-size: 13px;
    opacity: 0.6;
}

.linkedin_conversation_section, .sn_conversation_section {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.linkedin_gif_box {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 400px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    box-sizing: border-box;
    max-height: 400px;
    overflow: auto;
    z-index: 9;
}

.linkedin_gif_box:after {
    content: "";
    position: relative;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgba(0,0,0,0.2);
    bottom: -8px;
    left: 8px;
    z-index: 9;
}

.linkedin_gif_box ul {
    list-style: none;
    font-size: 0;
    padding: 0;
    margin: 0 -5px;
}

.linkedin_gif_box ul li {
    width: 50%;
    display: inline-block;
    padding: 0 5px 0 5px;
    margin: 0;
    vertical-align: top;
    position: relative;
    height: 100px;
    margin-bottom: 10px;
    overflow: hidden;
}

.linkedin_gif_box ul li img {
    width: 100%;
}

.linkedin_gif_box * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.linkedin_gif_box ul li img {
    object-fit: cover;
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    align-content: center;
    -moz-align-content: center;
    -webkit-align-content: center;
    max-width: 100%;
}

.li-content-salesforce, .li-content-teamlink, .li-content-highlight{
    display: block !important;
}

.linkedin_emoji_box {
    position: absolute;
    bottom: 100%;
    left: 0px;
    width: 350px;
    padding: 16px;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    margin-bottom: 8px;
    box-sizing: border-box;
    max-height: 400px;
    z-index: 9;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}

.linkedin_emoji_box ul {
    font-size: 0px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.linkedin_emoji_box ul li {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    cursor: pointer;
    margin: 0;
    text-align: center;
    width: auto;
}

.linkedin_emoji_box ul li button {
    background: none;
    border: none;
    font-size: 18px;
    padding: 0;
    width: 24px;
    height: 24px;
    margin: 0 13px 13px 0;
    cursor: pointer;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    display: inline-block;
}

.linkedin_emoji_box ul li button:hover {
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

.linkedin_sales_navigator_box .sales_navigator_box #li-panel-app{
    background: #eee;
}

.linkedin_sales_navigator_box .sales_navigator_box .li-head{
    background: #ccc;
}

.linkedin_sales_navigator_box .sales_navigator_box .li-tabs-content{
    background: #eee;
    min-height: none;
}

.linkedin_loader_wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    z-index: 9;
}

.linkedin_mailbox_container_left .linkedin_loader_wrap {
    position: fixed;
    left: auto;
    top: auto;
    width: 280px;
    height: calc(100vh - 80px);
}

.linkedin_loader_wrap .linkedin_loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.bKK.linkedin_mailbox {
    position: absolute;
    left: 256px;
    top: 64px;
    width: calc(100% - 256px);
}

.linkedin_loader {
    padding: 15px;
    text-align: center;
}


.linkedin_lightbox {
    padding: 80px;
}

.linkedin_lightbox_wrapper {
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
}

.linkedin_gif_search {
    display: block;
    margin-bottom: 15px;
    position: relative;
}

input.linkedin_gif_search_box {
    width: 100%;
    height: 35px;
    border: 1px solid #444;
    border-radius: 2px;
    padding: 0 0 0 35px;
}

button.linkedin_gif_search_btn {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0;
    border: none;
    box-shadow: none;
    background: none;
    padding: 0;
    height: 35px;
    width: 35px;
    line-height: 35px;
}

button.linkedin_gif_search_btn img {
    width: 14px;
    margin-top: 10px;
}

.linkedin_conversation_lightbox {
    width: 250px;
    display: block;
    border: 1px solid #ddd;
    font-size: 0;
    height: 250px;
    position: relative;
}

.linkedin_conversation_lightbox img {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.linkedin_attach_subject.thread-subject {
    position: relative;
    padding-left: 22px;
}

.linkedin_attach_subject.thread-subject svg {
    position: relative;
    margin-bottom: -11px;
}

.linkedin_attachment_download, .sn_attachment_download {
    display: block;
    width: 100%;
    max-width: 250px;
    border: 1px solid #ddd;
    position: relative;
    overflow: hidden;
    height: 70px;
    text-decoration: none;
    padding-left: 60px;
    padding-right: 10px;
    padding-top: 10px;
    font-weight: 600;
    color: #444;
    margin-bottom: 8px;
}

.linkedin_attachment_download .linkedin_attachment_name, .sn_attachment_download .sn_attachment_name {
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.linkedin_attachment_download .linkedin_attachment_size, .sn_attachment_download .sn_attachment_size {
    opacity: 0.6;
    font-weight: normal;
}

.linkedin_attachment_download:before, .sn_attachment_download:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background: #475d69;
    color: #fff;
    text-align: center;
    font-weight: 600;
    line-height: 68px;
}

.linkedin_attachment_download.ppt_attachment:before , .sn_attachment_download.ppt_attachment:before {
    content: "PPT";
    background: #58a3a7;
}

.linkedin_attachment_download.doc_attachment:before , .sn_attachment_download.doc_attachment:before {
    content: "DOC";
    background: #014b7c;
}

.linkedin_attachment_download.pdf_attachment:before , .sn_attachment_download.pdf_attachment:before {
    content: "PDF";
    background: #d11124;
}

.linkedin_attachment_download.other_attachment img, .sn_attachment_download.other_attachment img {
    position: absolute;
    left: 15px;
    width: 22px;
    top: 23px;
}

.linkedin_emoji_box ul.emoji-popover__categories {
    position: fixed;
    left: auto;
    top: auto;
    width: 335px;
    margin-top: -35px;
    background: #fff;
    margin-left: -10px;
    padding: 10px 0 0 10px;
}

.linkedin_emoji_box {
    padding-top: 35px;
}

.linkedin_emoji_box .emoji-popover__emojis{
    overflow-y: scroll;
    max-height: 355px;
    position: relative;
}

.linkedin_emoji_box ul.emoji-popover__categories li button {
    padding: 8px;
    box-sizing: border-box;
    margin: 0;
    width: 40px;
    height: 40px;
    outline: none;
}

.linkedin_emoji_box ul.emoji-popover__categories li.active button {
    border-bottom: 2px solid #1973e8;
}

table.linkedin_threads_table tr.linkedin_thread_row .linkedin_thread_subject_text, table.sn_threads_table tr.sn_thread_row .linkedin_thread_subject_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 620px;
}

img.linkedin_mailbox_logo {
    width: 18px;
    margin-right: 18px;
    margin-left: 2px;
}

.linkedin_mailbox_container table.linkedin_threads_table tr.linkedin_thread_row_bold, .linkedin_mailbox_container table.sn_threads_table tr.sn_thread_row_bold {
    background: rgba(242,245,245,0.8);
}

.linkedin_mailbox_container table.linkedin_threads_table tr.linkedin_thread_row_bold, .linkedin_mailbox_container table.sn_threads_table tr.sn_thread_row_bold {
    background: rgba(242,245,245,0.8);
}

.linkedin-msg-type-box > img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 8px;
    position: absolute;
    left: 15px;
    top: 0;
}

.inner-type-box {
    margin: 0 0 0 60px;
    padding: 15px;
    border: 1px solid #dadce0;
    border-radius: 5px;
    width: calc(100% - 80px);
}

.inner-type-box:hover {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    border-radius: 5px;
}

.linkedin-msg-type-box .inner-type-box textarea {
    border: none;
    min-height: 100px;
    border-top: 1px solid #ddd;
    width: 100%;
}

.linkedin_reply_forward_wrap {
    position: absolute;
    bottom: 50px;
    left: 0;
    margin: 0 0 0 60px;
}

.linkedin_reply_btn, .linkedin_forward_btn {
    display: inline-block;
    align-items: center;
    border: none;
    justify-content: center;
    outline: none;
    position: relative;
    z-index: 0;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    letter-spacing: .25px;
    background: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #5f6368;
    cursor: pointer;
    font-weight: 500;
    height: 36px;
    outline: none;
    padding: 0 16px;
    box-shadow: inset 0 0 0 1px #dadce0;
    min-width: 104px;
    padding-left: 12px;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 12px;
    text-decoration: none;
    line-height: 36px;
    text-align: center;
}

.linkedin_reply_btn:before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/reply_black_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    content: '';
    height: 20px;
    display: inline-block;
    margin-right: 8px;
    opacity: .54;
    width: 20px;
    vertical-align: middle;
}

.linkedin_forward_btn:before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/forward_black_20dp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    content: '';
    height: 20px;
    display: inline-block;
    margin-right: 8px;
    opacity: .54;
    width: 20px;
    vertical-align: middle;
}





/* New LinkedIn Design CSS */

.linkedin_mailbox_container_left {
    height: calc(100vh - 64px);
    overflow: auto;
}

.linkedin_mailbox_container_left .linkedin_mailbox_container {
    height: auto;
    overflow: visible;
}

.linkedin_sales_navigator_box .sales_navigator_box #li-panel, .linkedin_sales_navigator_box .sales_navigator_box #li-panel-app {
    width: 100%;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.linkedin_mailbox_container_left {
    width: 28%;
    float: left;
    position: relative;
}

.linkedin_mailbox_container_right {
    width: 72%;
    float: left;
    position: relative;
}

.linkedin_mailbox_container_right .linkedin_mailbox_container { overflow:
visible; }

.linkedin_mailbox_header {
    height: auto;
    padding: 10px 5px;
    text-align: right;
    font-size: 12px;
}

.linkedin_mailbox_pagination_prev img, .linkedin_mailbox_pagination_next img {
    width: 20px;
    padding: 0 5px;
    cursor: pointer;
}

.linkedin_thread_row, .sn_thread_row  {
    position: relative;
    font-size: 0;
    padding: 15px;
    border-bottom: 1px solid #eee;
    min-height: 70px;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0,0,0,.01);
}

.linkedin_thread_row .linkedin_thread_profile_pic, .sn_thread_row .sn_thread_profile_pic {
    position: absolute;
    width: 35px;
    left: 15px;
    top: 15px;
}

.linkedin_thread_row .linkedin_thread_profile_nmd, .sn_thread_row .sn_thread_profile_nmd {
    padding-left: 45px;
    font-size: 14px;
    padding-right: 50px;
}

.linkedin_thread_row .linkedin_thread_date, .sn_thread_row .sn_thread_date {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 13px;
    color: rgb(85, 85, 85);
}

.linkedin_thread_row .linkedin_thread_profile_pic img, .sn_thread_row .sn_thread_profile_pic img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.linkedin_thread_row .linkedin_thread_profile_nmd .thread-name, .sn_thread_row .sn_thread_profile_nmd .thread-name  {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.linkedin_thread_row.active, .sn_thread_row.active {
    box-shadow: 4px 0 0 #0073b1 inset, 0 -1px 0 #f3f6f8 inset;
}

.linkedin_thread_row .linkedin_thread_profile_nmd .thread-subject, .sn_thread_row .sn_thread_profile_nmd .thread-subject {
    padding: 0;    
    font-size: 13px;
    color: rgb(85, 85, 85);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.linkedin_conversation_container .linkedin_conversation_first .linkedin_conversation_datetime {
    float: none;
    display: inline-block;
    position: relative;
    margin-left: 5px;
}

.linkedin_conversation_container .linkedin_conversation_first .linkedin_conversation_datetime:before {
    content: "";
    width: 3px;
    height: 3px;
    display: inline-block;
    background: rgba(0,0,0,.6);
    border-radius: 50%;
    margin-right: 3px;
    position: relative;
    top: -2px;
}

.linkedin_conversation_container .linkedin_conversation_first .linkedin_conversation_name {
    font-size: 13px;
    font-weight: normal;    
}

.linkedin_conversation_container .linkedin_conversation_first .linkedin_conversation_profile_pic {
    vertical-align: top;
}

.linkedin_conversation_container .linkedin_conversation_second {
    margin-top: -10px;
    padding-bottom: 15px;
}

.inner-type-box {
    border: none;
    box-shadow: none !important;
    padding: 0;
    width: 100%;
    margin-left: 0;
}

.linkedin_conversation_title a {
    text-decoration: none;
    color: #202124;
}

div#liDotContainer {
    display: none;
}

.linkedin_sales_navigator_box .sales_navigator_box #li-panel-app .li-user {
    width: 100%;
    padding-bottom: 0;
}

body .li-user-contact {
    width: 100%;
}

body .li-user-contact li {
    padding: 5px 0 0 10px;
    width: auto;
    height: auto;
}

body .li-img-profile-large, body .li-img-profile-large-default {
    height: 35px;
    width: 35px;
}

body .li-user-profile-name {
    padding-left: 45px;
    height: 36px;
}

.linkedin_sales_navigator_box {
    position: fixed;
    top: auto;
    left: auto;
    width: 280px;
    z-index: 2;
}

.linkedin_sales_navigator_box .sales_navigator_close_btn {
    font-size: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.4;
    cursor: pointer;
}

.linkedin_sales_navigator_box .sales_navigator_close_btn:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: black;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 14px;
    left: 5px;
}

.linkedin_sales_navigator_box .sales_navigator_close_btn:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: black;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: 14px;
    right: 5px;
}

.linkedin_conversation_container.other_profile {
    background: #eee;
    border: none;
    float: left;
    width: 85%;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
}

.linkedin_conversation_container.owner_profile {
    background: #d9e3e8;
    border: none;
    float: right;
    width: 85%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.linkedin_sales_navigator_box .sales_navigator_box #li-panel-app {
    padding-bottom: 5px;
    background: #fff;
}

.linkedin_conversation_saperator {
    clear: both;
}

.linkedin_conversation_saperator hr {
    border: none;
    background: #ddd;
    height: 1px;
    margin-bottom: 15px;
}

body .sales_navigator_box #li-panel {
    float: none;
    width: 100%;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

body .sales_navigator_box #profile-link {
    display: none;
}

body .sales_navigator_box #li-header {
    padding: 0;
    min-height: 0;
    width: auto;
    float: none;
}

body .sales_navigator_box #li-header .li-user-profile {
}

body .sales_navigator_box #li-header .li-user-profile .li-user-location {
    font-size: 11px;
}

body .sales_navigator_box #li-panel #li-panel-app {
    width: 100%;
    float: none;
}

body .sales_navigator_box #li-panel #li-panel-app .li-borderless {
    border: none;
    padding: 15px 0;
}

body .sales_navigator_box #li-panel #li-panel-app .li-user-contact {
    border: none;
}

body .sales_navigator_box #li-panel #li-panel-app .li-tabs-content {
    margin: 0;
    background: none;
    border: none;
    padding: 0;
}

body .sales_navigator_box #li-panel #li-panel-app .li-tabs-content .li-content-highlight {
    padding: 0;
}

body .sales_navigator_box #li-panel #li-panel-app .li-tabs-content .li-user-sep {
    display: none;
}

body .sales_navigator_box #li-panel #li-panel-app .li-user-connections {
    padding: 0 0 5px 0;
}

body .sales_navigator_box #li-panel #li-panel-app .li-user-connections ul {
    margin: 0;
}

body .sales_navigator_box #li-panel #li-panel-app .li-user-connections ul li {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 5px;
}

body .sales_navigator_box #li-panel #li-panel-app .li-user-connections h4 {
    font-weight: 500;
    font-size: 14px;
    margin: 0 0 5px 0;
}

body .sales_navigator_box #li-panel #li-panel-app .li-tabs-content .li-user-highlight ul {
    margin: 0;
    padding: 0;
}

body .sales_navigator_box #li-panel #li-panel-app .li-tabs-content .li-user-highlight ul li {
    padding: 0;
}

body .sales_navigator_box #li-panel #li-panel-app .li-tabs-content .li-user-highlight ul li img {
    margin: 0 2px 0 0;
}

body .sales_navigator_box #li-header .li-user-profile {
    margin: 0;
}

body .sales_navigator_box #li-header .li-user-profile .li-user-title {
    font-style: italic;
}

body .sales_navigator_box #li-panel #li-panel-app .li-user-contact ul li {
    width: auto;
    height: auto;
    margin: 0 5px 0 0;
    padding: 0;
    position: relative;
}

body .sales_navigator_box #li-panel #li-panel-app .li-tabs-content {
    min-height: 0 !important;
}

body .sales_navigator_box #li-panel #li-panel-app .li-user-contact {
    margin-top: 5px;
}

body .sales_navigator_box #li-panel #li-panel-app .li-user-contact ul li img {
    display: none;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 20px;
    max-height: 100%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

body .sales_navigator_box #li-panel #li-panel-app .li-user-contact ul li .li-icn-panel-pop {
    position: relative;
    width: 24px;
    height: 24px;
    display: block;
    padding: 0;
    box-shadow: none;
    font-size: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center center;
}

body .sales_navigator_box #li-panel #li-panel-app .li-user-contact ul li .li-icn-panel-pop ul {
    display: none;
}

body .sales_navigator_box #li-panel #li-panel-app .li-user-contact ul li .li-icn-panel-pop:before, body .sales_navigator_box #li-panel #li-panel-app .li-user-contact ul li .li-icn-panel-pop:after {
    display: none;
}

.linkedin_conversation_lightbox {
    width: 100px;
    vertical-align: top;
    margin-right: 15px;
    height: 100px;
    margin-bottom: 5px;
}

.linkedin_mailbox_container_left {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.linkedin_attachment, .sn_attachment {
    position: relative;
    padding: 10px 30px 10px 70px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    height: 50px;
}

.linkedin_attachment img , .sn_attachment img {
    width: 40px;
    height: 40px;
    border: solid 1px #ddd;
    position: absolute;
    top: 5px;
    left: 10px;
}

.linkedin_attachment span.linkedin_attachment_remove_btn, .sn_attachment span.sn_attachment_remove_btn {
    position: absolute;
    top: 30%;
    right: 15px;
    font-weight: 600;
    cursor: pointer;
}

.linkedin_attachment span.linkedin_attachment_size, .sn_attachment span.sn_attachment_size {
    font-size: 12px;
    color: #999;
    margin-left: 5px;
    vertical-align: bottom;
    display: inline-block;
}

.linkedin_attachment span.linkedin_attachment_name, .sn_attachment span.sn_attachment_name {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    position: relative;
}

.linkedin_attachment span.linkedin_attachment_name:after, .sn_attachment span.sn_attachment_name:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background: #202124;
    border-radius: 50%;
    right: -10px;
    top: 50%;
}

.linkedin_attachment .doc_attachment:before , .sn_attachment .doc_attachment:before {
    content: "DOC";
    width: 40px;
    height: 40px;
    background: #465d69;
    position: absolute;
    top: -5px;
    left: -60px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 13px 6px;
    border: solid 1px #ddd;
    font-weight: 600;
}

.linkedin_attachment .ppt_attachment:before, .sn_attachment .ppt_attachment:before {
    content: "PPT";
    width: 40px;
    height: 40px;
    background: #465d69;
    position: absolute;
    top: -5px;
    left: -60px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 13px 6px;
    border: solid 1px #ddd;
    font-weight: 600;
}

.linkedin_attachment .xls_attachment:before , .sn_attachment .xls_attachment:before {
    content: "XLS";
    width: 40px;
    height: 40px;
    background: #465d69;
    position: absolute;
    top: -5px;
    left: -60px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 13px 6px;
    border: solid 1px #ddd;
    font-weight: 600;
}

.linkedin_attachment .pdf_attachment:before, .sn_attachment .pdf_attachment:before  {
    content: "PDF";
    width: 40px;
    height: 40px;
    background: #d11124;
    position: absolute;
    top: -5px;
    left: -60px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 13px 6px;
    border: solid 1px #ddd;
    font-weight: 600;
}

.linkedin_attachment img.file_attachment, .sn_attachment img.file_attachment {
    background: #014b7c;
    padding: 10px;
}

.linkedin_attachment >  div, .sn_attachment >  div {
    font-size: 12px;
    margin-top: 2px;
    color: #666;
}

.inner-type-box {
    position: relative;
}

.loader-box {
    margin: 3px 0px;
    height: 4px;
    width: 0px;
    background: #0073b1;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}

.loader-box.show {
    width: 100%;
}

.linkedin_attachment , .sn_attachment {
    height: 53px;
}

.linkedin_mailbox_popup {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0,0,0,0.7);
}

.linkedin_popup_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: #fff;
    padding: 15px;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2);
    border: solid 1px #eee;
    max-width: 500px;
    width: 100%;
}

.linkedin_popup_box h3 {
    margin: 10px 0px 20px;
}

.linkedin_popup_box a.linkedin_login_btn {
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 20px;
    border: solid 2px #0076b5;
    color: #0076b5;
    text-decoration: none;
    font-weight: 600;
    line-height: normal;
    outline: none;
}

.linkedin_popup_box a.linkedin_login_btn img {
    vertical-align: middle;
    margin-right: 10px;
    height: 25px;
    background: #fff;
}

.linkedin_unread_count {
    font-size: .75rem;
    letter-spacing: .3px;
    color: #5f6368;
}

body .sales_navigator_box #li-panel #li-panel-app .li-user-contact ul li .li-icn-panel-pop ul {
    background: #fff;
    color: rgba(0,0,0,0.7);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.42857;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    box-sizing: border-box;
    max-width: 200px;
    transition: visibility 0s linear 0.2s, opacity 0.2s linear;
    padding: 8px 16px;
    visibility: inherit;
    opacity: 100;
    position: absolute;
    z-index: 9999;
    display: none;
    bottom: 100%;
    left: 0;
    margin-bottom: 5px;
    white-space: normal;
}

body .sales_navigator_box #li-panel #li-panel-app .li-user-contact ul li .li-icn-panel-pop:hover ul {
    display: block;
}

body .sales_navigator_box #li-panel #li-panel-app .li-user-contact ul li .li-icn-panel-pop ul li {
    white-space: normal;
}

body .sales_navigator_box #li-panel #li-panel-app .li-user-contact ul li .li-icn-panel-pop ul:before {
    border-color: transparent;
    border-style: solid;
    border-width: 0;
    content: '';
    height: 0;
    width: 0;
    border-top: 9px rgba(0,0,0,0.25) solid;
    border-left-width: 9px;
    border-right-width: 9px;
    bottom: -10px;
    left: 13px;
    border-top-width: 10px;
    margin-left: -11px;
    position: absolute;
}

body .sales_navigator_box #li-panel #li-panel-app .li-user-contact ul li .li-icn-panel-pop ul:after {
    border-color: transparent;
    border-style: solid;
    border-width: 0;
    content: '';
    height: 0;
    width: 0;
    border-top: 8px #fff solid;
    border-left-width: 8px;
    border-right-width: 8px;
    bottom: -8px;
    left: 12px;
    margin-left: -9px;
    position: absolute;
}

body .sales_navigator_box_wrapper .sales_navigator_box #profile-link {
    display: block;
}

body .sales_navigator_box_wrapper .sales_navigator_box {
    width: 245px;
}

body .sales_navigator_box_wrapper .sales_navigator_box #li-header .li-user-profile {
    clear: both;
    padding-top: 10px;
}

body .sales_navigator_box_wrapper .sales_navigator_box .li-user-highlight-none, body .sales_navigator_box_wrapper .sales_navigator_box .li-user-teamlink-blurb {
    padding: 0;
}

body .sales_navigator_box_wrapper .sales_navigator_box .li-head {
    display: none;
}

body .sales_navigator_box #li-panel #li-panel-app .li-user-contact ul li .li-icn-panel-pop ul {
    min-width: 135px;
}

.linkedin_conversation_body .linkedin_gif {
    width: 220px;
}

.bKK.linkedin_mailbox + .bAw {
    position: absolute;
    top: 64px;
    right: 0;
    min-height: calc(100vh - 64px);
    background: rgb(255, 255, 255);
}